date=2022-08-16
type=page
title=Whois Lookup API and Whois Domain Database - WhoisFreaks
status=published
~~~~~~
<link rel="stylesheet" href="/styles/style.css">
<script src="scripts/lookupApi.js"></script>

<body>
    <div id="body">
        <section class="singleCol" id="banner">
            <div class="with-overlay">
                <div class="inner">
                    <article class="alt leftBlock">
                        <div class="content">
                            <header>
                                <h1>Best Source For Domain WHOIS Database and API</h1>
                            </header>
                            <p>We provide well-parsed and structured domain WHOIS data for all domain names, registrars,
                                countries and TLDs since the birth of internet.
                                Our carefully crawled current and historical domain data is available in the form of
                                REST APIs, lookup tools, and downloadable database.</p>
                            <p id="h"></p>
                            <ul class="actions">
                                <li><a href="/signup.html" class="button alt">Get Started</a></li><br>
                                <div class="w-100p searchbar">
                                    <input type="text" name="domainName" placeholder="Enter a domain name" value="" class="bg-cornsilk px-20 py-10 w-100p border border-white radius-5 mb-5 text-dark">
                                    <button onclick="searchdomaindata()"><img src="pics/icon/search.svg"></button>
                                </div>
                                
                            </ul>
                        </div>
                    </article>
                    <article class="alt rightBlock">
                        
                        <pre><code id="demo">
{
    "status": true,
    "domain_name": "currencyfreaks.com",
    "query_time": "2021-04-30 10:09:29",
    "whois_server": "whois.namecheap.com",
    "domain_registered": "yes",
    "create_date": "2019-02-25",
    "update_date": "2021-01-26",
    "expiry_date": "2022-02-25",
    "domain_registrar": {
        "iana_id": "1068",
        "registrar_name": "NAMECHEAP INC",
        "whois_server": "whois.namecheap.com",
        "website_url": "http://www.namecheap.com",
        "email_address": "abuse@namecheap.com",
        "phone_number": "+1.6613102107"
    },
    {...}
}
                     </code></pre>
                    </article>
                </div>
                <section class="common-numbers-block ">
                    <div class="content-in-blocks">
                        <div><span>1986</span>Historical Data Since</div>
                        <div><span class="totalTLDs">1387+</span>TLDs</div>
                        <div><span id="totalDomains_no">501M+</span>Domains Tracked</div>
                        <div><span id="totalWhoisNo">1309M+</span>WHOIS Records</div>
                    </div>
                </section>
            </div>
        </section>
        <section id="one">
            <div class="inner centered-block">
                <header>
                    <h3>WHOIS Domains Data APIs Portfolio</h3>
                </header>
                <p>WhoisFreaks APIs portfolio caters for the diverse needs of CyberSecurity Analysts, Business
                    Researchers and Brand Protection experts.</p>
            </div>
        </section>

        <section id="three">
            <div class="inner">
                <article>
                    <div class="content">
                        <img src="/pics/icon/whois-lookup.svg" alt="whois api" class="icon">
                        <header>
                            <h4>Whois Lookup API</h4>
                        </header>
                        <p>Get the WHOIS records and ownership details of any domain name, like owner name, email
                            address, country, creation, last updated, expiration, location of both registrar and domain
                            in the JSON/XML format.</p>
                        <ul class="actions">
                            <li><a href="/products/whois-lookup-api.html">More Details &gt;</a></li>
                        </ul>
                    </div>
                </article>
                <article class="alt article-center">
                    <div class="content">
                        <img src="/pics/icon/whois-history.svg" alt="whois history api" class="icon">
                        <header>
                            <h4>Whois History API</h4>
                        </header>
                        <p>Our WHOIS history API provide millions of current and historical WHOIS domain data records.
                            WhoisFreaks history API database is regularly updated with the latest registration of all
                            domains on a daily basis.</p>
                        <ul class="actions">
                            <li><a href="/products/whois-history-api.html">More Details &gt;</a></li>
                        </ul>
                    </div>
                </article>
                <article class="alt">
                    <div class="content">
                        <img src="/pics/icon/whois-reverse.svg" alt="reverse whois" class="icon">
                        <header>
                            <h4>Reverse Whois API</h4>
                        </header>
                        <p>You can execute a broad search for a particular domain keywords, owner name, email or company
                            on our WHOIS data to discover domains owned by a company or person.</p>
                        <ul class="actions">
                            <li><a href="/products/reverse-whois-api.html">More Details &gt;</a></li>
                        </ul>
                    </div>
                </article>
            </div>
        </section>
        <section id="three">
            <div class="inner">
                <article>
                    <div class="content">
                        <img src="/pics/icon/newly-registered-domain.png" alt="security" class="icon">
                        <header>
                            <h4>Newly Registered Domains</h4>
                        </header>
                        <p>Download vast amount of newly registered domains whois files through our API which contains
                            the ownership information of a domain, its contact details and complete normalized whois
                            data records. It is updated on daily basis.</p>
                        <ul class="actions">
                            <li><a href="/products/newly-registered-domains.html">More Details &gt;</a></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <div class="content">
                        <img src="/pics/icon/expiring-domain.png" alt="security" class="icon">
                        <header>
                            <h4>Expiring Domains</h4>
                        </header>
                        <p>Download vast amount of expiring and expired domains whois files through our API which
                            contains the ownership information of a domain, its contact details and complete normalized
                            whois data records. It is updated on daily basis.</p>
                        <ul class="actions">
                            <li><a href="/products/expiring-dropped-domains.html">More Details &gt;</a></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <div class="content">
                        <img src="/pics/icon/deleted-domain.png" alt="security" class="icon">
                        <header>
                            <h4>Dropped/Deleted Domains</h4>
                        </header>
                        <p>Download vast amount of recently dropped deleted domains whois files through our API which
                            contains the ownership information of a domain, its contact details and complete normalized
                            whois data records. It is updated on daily basis.
                        </p>
                        <ul class="actions">
                            <li><a href="/products/expiring-dropped-domains.html">More Details &gt;</a></li>
                        </ul>
                    </div>
                </article>
            </div>
        </section>


        <section id="one" class="bg-colored">
            <div class="inner centered-block">
                <header>
                    <h3>WHOIS Domains Database</h3>
                </header>
                <p class="text-align-justify">Over 4.5 Million domains are registered each month. Our WHOIS normalized
                    database download provides you an evaluative domain information such as a domain owner name,
                    registrant name, organization, email address, country, contact details, domain location and many
                    more. Custom WHOIS domains database is sorted by registrant specific whois domains data, country
                    specific whois domains data and an email specific whois domains data.</p>
            </div>
        </section>
        <section id="three" class="bg-colored">
            <div class="inner">
                <article>
                    <div class="content">
                        <img src="/pics/icon/registrar-specific.svg" alt="security" class="icon">
                        <header>
                            <h4>Registrar Specific Domains</h4>
                        </header>
                        <p>Registrar specific database provide you the complete whois information of the domains that
                            are registered with a specific registrar like GoDaddy, Namecheap and so on.
                        </p>
                        <ul class="actions">
                            <li><a href="/products/whois-database.html" class="button">More Details &gt;</a></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <div class="content">
                        <img src="/pics/icon/country-specific.svg" alt="security" class="icon">
                        <header>
                            <h4>Country Specific Domains</h4>
                        </header>
                        <p>Country specific database provide you the complete whois information of the domains that
                            belong to a specific country like USA, Canada, China and so on.</p>
                        <ul class="actions">
                            <li><a href="/products/whois-database.html" class="button">More Details &gt;</a></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <div class="content">
                        <img src="/pics/icon/tld-specific.svg" alt="security" class="icon">
                        <header>
                            <h4>TLDs Specific Domains</h4>
                        </header>
                        <p>TLDs specific database provide you the complete whois information of the domains that are
                            registered with a specific domain extension like '.com', '.io', '.net' and so on.</p>
                        <ul class="actions">
                            <li><a href="/products/whois-database.html" class="button">More Details &gt;</a></li>
                        </ul>
                    </div>
                </article>
            </div>
        </section>

        <section id="one">
            <div class="inner centered-block">
                <header>
                    <h3>Utility</h3>
                </header>
            </div>
        </section>

        <section class="singleCol">
            <div class="inner">
                <article class="alt">
                    <div class="content">
                        <header>
                            <h4>Domainer</h4>
                        </header>
                        <p>You can download newly registered, expiring, dropped/deleted domains whois files from your
                            dashboard
                            manually by <a href="https://billing.whoisfreaks.com">signing-in</a> to your account and
                            purchasing domainer package.
                        </p>
                    </div>
                </article>
                <article class="alt">
                    <div class="image fit">
                        <img src="/pics/download-whois.svg" alt="icon">
                    </div>
                </article>
            </div>
        </section>

        <section class="singleCol bg-colored">
            <div class="inner">
                <article class="alt">
                    <div class="image fit">
                        <img src="/pics/test13.svg" alt="icon">
                    </div>
                </article>
                <article class="alt">
                    <div class="content">
                        <header>
                            <h4>Bulk WHOIS Lookup</h4>
                        </header>
                        <p>Get domain ownership information and whois data records from parsed whois database with a
                            single query. Just upload the list of domain names in the bulk request. Once your bulk whois
                            lookup request completed, you will receive an email with a link to download the result in
                            CSV format.</p>
                        <ul class="actions">
                            <li><a href="/products/bulk-whois-lookup.html" class="button">More Details &gt;</a></li>
                        </ul>
                    </div>
                </article>
            </div>
        </section>

        <br>
        <section id="one">
            <div class="inner centered-block">
                <header>
                    <h3>Our Core Features</h3>
                </header>
            </div>
        </section>

        <section class="singleCol">
            <div class="inner">
                <article class="alt">
                    <div class="content">
                        <header>
                            <h4>Large Scale</h4>
                        </header>
                        <p>Our WHOIS domains database is efficiently parsed and normalized containing billions of whois
                            domain records including subdomains as well. Also provide separated whois data records of
                            <span class="totalTLDs">1387+</span> gTLDs and ccTLDs domains.
                        </p>
                    </div>
                </article>
                <article class="alt">
                    <div class="image fit">
                        <img src="/pics/test12.svg" alt="icon">
                    </div>
                </article>
            </div>
        </section>
        <section class="singleCol bg-colored">
            <div class="inner">
                <article class="alt">
                    <div class="image fit">
                        <img src="/pics/ease-of-use.svg" alt="icon">
                    </div>
                </article>
                <article class="alt">
                    <div class="content">
                        <header>
                            <h4>Ease of Use</h4>
                        </header>
                        <p>Our system parsed and normalized character sets and line endings, pulls the various fields
                            from the raw whois text, and puts the fields in a consistent, automation-friendly format
                            (CSV or JSON). We provide required data results as ready-to-use and quickly integrable with
                            any business systems.
                        </p>
                    </div>
                </article>
            </div>
        </section>
        <section class="singleCol bg-none-colored">
            <div class="inner">
                <article class="alt">
                    <div class="content">
                        <header>
                            <h4>Applicable &amp; Up To Date</h4>
                        </header>
                        <p>Our database is updated daily with thousands of WHOIS records and domains information. We
                            always try
                            our best to enlarge our database and its correctness to increase its maximum practicability.
                            We efficiently parse and normalize complete WHOIS data so that it can be quickly integrated
                            into
                            relevant systems.
                        </p>
                    </div>
                </article>
                <article class="alt">
                    <div class="image fit">
                        <img src="/pics/up-to-date.svg" alt="icon">
                    </div>
                </article>
            </div>
        </section>
        <section class="singleCol bg-colored">
            <div class="inner">
                <article class="alt">
                    <div class="image fit">
                        <img src="/pics/test16.svg" alt="icon">
                    </div>
                </article>
                <article class="alt">
                    <div class="content">
                        <header>
                            <h4>Well Founded Service</h4>
                        </header>
                        <p>We provide 24/7 premium customer support for all of our services. We are always ready to help
                            the clients in the most efficient manner.
                        </p>
                    </div>
                </article>
            </div>
        </section>
        <br><br><br>
        <section>
            <div class="inner centered-block">
                <header>
                    <h3>Common Use Cases</h3>
                </header>
            </div>
        </section>
        <section class="singleCol">
            <div class="inner">
                <article class="alt">
                    <div class="content">
                        <img src="/pics/icon/network.svg" alt="real world" class="icon">
                        <header>
                            <h4>Real World Identity</h4>
                        </header>
                        <p>
                            Get the details of business location and contact information of a company, organization, or
                            individual with a domain name that is operating a website or other publicly accessible web
                            services using a domain name, for commercial or other purposes.
                        </p>
                    </div>
                </article>
                <article class="alt">
                    <div class="content">
                        <img src="/pics/icon/identity.svg" alt="identity" class="icon">
                        <header>
                            <h4>Protection of Intellectual Property</h4>
                        </header>
                        <p>Contact a domain name registrant to maintain accurate domain registration information and
                            matters related to the protection and enforcement of intellectual property rights.</p>
                    </div>
                </article>
            </div>
        </section>
        <section class="singleCol bg-transparent-without-shadow">
            <div class="inner">
                <article class="alt">
                    <div class="content">
                        <img src="/pics/icon/domain.svg" alt="domain issues" class="icon">
                        <header>
                            <h4>Domain Registration Issues</h4>
                        </header>
                        <p>Troubleshoot domain registration problems. WHOIS domain data provide the details that are
                            commonly used to determine and solve a domain registration ownership matter as like the
                            domain registrant, find out created and expiry dates of a domain.</p>
                    </div>
                </article>
                <article class="alt">
                    <div class="content">
                        <img src="/pics/icon/server.svg" alt="admin network" class="icon">
                        <header>
                            <h4>Find and contact network admins</h4>
                        </header>
                        <p>Contact network administrators to resolve technical issues related to networks linked with a
                            domain name, for example DNS or routing issues, origin and path analysis of DoS and other
                            network-based attacks.
                        </p>
                    </div>
                </article>
            </div>
        </section>
        <section class="singleCol bg-transparent-without-shadow">
            <div class="inner">
                <article class="alt">
                    <div class="content">
                        <img src="/pics/icon/security.svg" alt="security" class="icon">
                        <header>
                            <h4>Security Professionals</h4>
                        </header>
                        <p>Security professionals and law enforcement agents use WHOIS to identify contact for a domain
                            name. WHOIS information offer security researchers and threat hunters value especially when
                            it comes to identifying threat actors.</p>
                    </div>
                </article>
                <article class="alt">
                    <div class="content">
                        <header>
                            <img src="/pics/icon/card.svg" alt="identity" class="icon">
                            <h4>Investigate Spam</h4>
                        </header>
                        <p>Gather investigative leads, the WHOIS database is used to collect information on the website
                            advertised in the spam and to find email addresses, identify the location of the responsible
                            for the abuse, neglect, and crime involving fraud.
                        </p>
                    </div>
                </article>
            </div>
        </section>
        <br><br>

    </div>
</body>