date=2022-09-02
type=page
title=WhoisFreaks Pricing
status=published
~~~~~~
<link rel="stylesheet" href="/styles/pricing.css">
<script src="scripts/pricing.js"></script>
<body>
    <div class="app">
        <div class="app__innerP">
            <div class="app__main" style="overflow: auto;">
                <h1 class="page__title">API Pricing</h1>
                <div class="plan-switcher">
                    <div class="pricing-container p5">
                        <div class="pricing-switcher">
                            <p class="fieldset">
                                <a href="/pricing.html" class="active"><label style="background: #403aa2; border-radius: 10px;">API
                                    Plans</label></a>
                                <span class="switch"></span></p>
                        </div>
                        <hr style="width: 30%; border: 0.3px solid silver;">
                        <br>
                        <div class="onoffswitch">
                            <ul style="list-style: none;display: inline-flex;padding: 0px;">
                                <li style="padding-top: 4px;margin-left: 0px;">Monthly</li>
                                <li>
                                    <label class="switch">
                                        <input type="checkbox" name="duration" value="yearly" id="duration_switch" onchange="planDurationSwitch(this)">
                                        <span class="slider round"></span>
                                    </label>
                                </li>
                                <li style="padding-top: 4px;">Yearly</li>
                            </ul>
                            <p class="save-big">Save <span>big</span> by paying annually!<img style="margin-right: 0px !important;" src="pics/icon/finger-pointing.png" alt="Plan Selection"></p>
                        </div>
                    </div>
                </div>
                <div id="apiPlansMonthly" style="display: block;">
                    <div class="steps landing__section plans">
                        <div class="plan-inner-row">
                            <div class="steps__inner plan-main-area">
                                <div class="step">
                                    <div class="plan-header">
                                        <h2 class="plan_name" id="devPnameMonthly">developer</h2>
                                        <h3 class="plan_rate" id="dev_rateMonthly">Free</h3>
                                        <strong class="plan_period" id="dev_intervalMonthly">For Non-Commercial Usage</strong>
                                    </div>
                                    <div class="plan_specs capitalize__text">
                                        <h4 id="dev_requestsLimitMonthly">30K requests per month</h4>
                                    </div>
                                    <div class="plan_surcharges">
                                        <small id="dev_surchargeRateMonthly">1K Daily Limit</small>
                                    </div>
                                    <div class="center plan_action">
                                        <a class="button button__primary" href="/signup.html">Sign Up for Free</a>
                                    </div>
                                </div>
                                <div class="step">
                                    <div class="plan-header">
                                        <h2 class="plan_name" id="bronze_nameMonthly">bronze</h2>
                                        <h3 class="plan_rate" id="bronze_rateMonthly">$15</h3>
                                        <strong class="plan_period" id="bronze_intervalMonthly">Per month*</strong>
                                    </div>
                                    <div class="plan_specs capitalize__text">
                                        <h4 id="bronze_requestsLimitMonthly">150K requests per month</h4>
                                    </div>
                                    <div class="plan_surcharges">
                                        <small id="bronze_surchargeRateMonthly">$5 Per Extra 50K Requests</small>
                                    </div>
                                    <div class="center plan_action">
                                        <a class="button button__primary" href="/signup.html">Sign Up for Free</a>
                                    </div>
                                </div>
                                <div class="step">
                                    <div class="plan-header">
                                        <h2 class="plan_name" id="silver_nameMonthly">silver</h2>
                                        <h3 class="plan_rate" id="silver_rateMonthly">$65</h3>
                                        <strong class="plan_period" id="silver_intervalMonthly">Per month*</strong>
                                    </div>
                                    <div class="plan_specs capitalize__text">
                                        <h4 id="silver_requestsLimitMonthly">1M requests per month</h4>
                                    </div>
                                    <div class="plan_surcharges">
                                        <small id="silver_surchargeRateMonthly">$5 Per Extra 75K Requests</small>
                                    </div>
                                    <div class="center plan_action">
                                        <a class="button button__primary" href="/signup.html">Sign Up for Free</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="proPlansBox" class="steps landing__section plans bigger__plans">
                        <div class="plan-inner-row">
                            <div class="steps__inner plan-main-area">
                                <div class="step">
                                    <div class="plan-header">
                                        <h2 class="plan_name" id="silverPMonthly">silver+</h2>
                                        <h3 class="plan_rate" id="silverP_rateMonthly">$130</h3>
                                        <strong class="plan_period" id="silverP_intervalMonthly">Per month*</strong>
                                    </div>
                                    <div class="plan_specs capitalize__text">
                                        <h4 id="silverP_requestsLimitMonthly">3M requests per month</h4>
                                    </div>
                                    <div class="plan_surcharges">
                                        <small id="silverP_surchargeRateMonthly">$5 Per Extra 100K Requests</small>
                                    </div>
                                    <div class="center plan_action">
                                        <a class="button button__primary" href="/signup.html">Sign Up for Free</a>
                                    </div>
                                </div>
                                <div class="step">
                                    <div class="plan-header">
                                        <h2 class="plan_name" id="gold_nameMonthly">gold</h2>
                                        <h3 class="plan_rate" id="gold_rateMonthly">$200</h3>
                                        <strong class="plan_period" id="gold_intervalMonthly">Per month*</strong>
                                    </div>
                                    <div class="plan_specs capitalize__text">
                                        <h4 id="gold_requestsLimitMonthly">6M requests per month</h4>
                                    </div>
                                    <div class="plan_surcharges">
                                        <small id="gold_surchargeRateMonthly">$5 Per Extra 150K Requests</small>
                                    </div>
                                    <div class="center plan_action">
                                        <a class="button button__primary" href="/signup.html">Sign Up for Free</a>
                                    </div>
                                </div>
                                <div class="step">
                                    <div class="plan-header">
                                        <h2 class="plan_name" id="platinum_nameMonthly">platinum</h2>
                                        <h3 class="plan_rate" id="platinum_rateMonthly">$500</h3>
                                        <strong class="plan_period" id="platinum_intervalMonthly">Per month*</strong>
                                    </div>
                                    <div class="plan_specs capitalize__text">
                                        <h4 id="platinum_requestsLimitMonthly">20M requests per month</h4>
                                    </div>
                                    <div class="plan_surcharges">
                                        <small id="platinum_surchargeRateMonthly">$5 Per Extra 200K Requests</small>
                                    </div>
                                    <div class="center plan_action">
                                        <a class="button button__primary" href="/signup.html">Sign Up for Free</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="apiPlansYearly" style="display: none;">
                    <div class="steps landing__section plans">
                        <div class="plan-inner-row">
                            <div class="steps__inner plan-main-area">
                                <div class="step">
                                    <div class="plan-header">
                                        <h2 class="plan_name" id="devPnameYearly">developer</h2>
                                        <h3 class="plan_rate" id="dev_rateYearly">Free</h3>
                                        <strong class="plan_period" id="dev_intervalYearly">For Non-Commercial Usage</strong>
                                    </div>
                                    <div class="plan_specs capitalize__text">
                                        <h4 id="dev_requestsLimitYearly">30K requests per month</h4>
                                    </div>
                                    <div class="plan_surcharges">
                                        <small id="dev_surchargeRateYearly">1K Daily Limit</small>
                                    </div>
                                    <div class="center plan_action">
                                        <a class="button button__primary" href="/signup.html">Sign Up for Free</a>
                                    </div>
                                </div>
                                <div class="step">
                                    <div class="plan-header">
                                        <h2 class="plan_name" id="bronze_nameYearly">bronze</h2>
                                        <h3 class="plan_rate" id="bronze_rateYearly">$150 <sup class="crossed-year-rate"><del>$180</del></sup></h3>
                                        <strong class="plan_period" id="bronze_intervalYearly">Per year*</strong>
                                    </div>
                                    <div class="plan_specs capitalize__text">
                                        <h4 id="bronze_requestsLimitYearly">1.8M requests per year</h4>
                                    </div>
                                    <div class="plan_surcharges">
                                        <small id="bronze_surchargeRateYearly">$5 Per Extra 50K Requests</small>
                                    </div>
                                    <div class="center plan_action">
                                        <a class="button button__primary" href="/signup.html">Sign Up for Free</a>
                                    </div>
                                </div>
                                <div class="step">
                                    <div class="plan-header">
                                        <h2 class="plan_name" id="silver_nameYearly">silver</h2>
                                        <h3 class="plan_rate" id="silver_rateYearly">$650 <sup class="crossed-year-rate"><del>$780</del></sup></h3>
                                        <strong class="plan_period" id="silver_intervalYearly">Per year*</strong>
                                    </div>
                                    <div class="plan_specs capitalize__text">
                                        <h4 id="silver_requestsLimitYearly">12M requests per year</h4>
                                    </div>
                                    <div class="plan_surcharges">
                                        <small id="silver_surchargeRateYearly">$5 Per Extra 75K Requests</small>
                                    </div>
                                    <div class="center plan_action">
                                        <a class="button button__primary" href="/signup.html">Sign Up for Free</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="steps landing__section plans bigger__plans padding-zero">
                        <div class="plan-inner-row">
                            <div class="steps__inner plan-main-area">
                                <div class="step">
                                    <div class="plan-header">
                                        <h2 class="plan_name" id="silverPYearly">silver+</h2>
                                        <h3 class="plan_rate" id="silverP_rateYearly">$1300 <sup class="crossed-year-rate"><del>$1560</del></sup></h3>
                                        <strong class="plan_period" id="silverP_intervalYearly">Per year*</strong>
                                    </div>
                                    <div class="plan_specs capitalize__text">
                                        <h4 id="silverP_requestsLimitYearly">36M requests per year</h4>
                                    </div>
                                    <div class="plan_surcharges">
                                        <small id="silverP_surchargeRateYearly">$5 Per Extra 100K Requests</small>
                                    </div>
                                    <div class="center plan_action">
                                        <a class="button button__primary" href="/signup.html">Sign Up for Free</a>
                                    </div>
                                </div>
                                <div class="step">
                                    <div class="plan-header">
                                        <h2 class="plan_name" id="gold_nameYearly">gold</h2>
                                        <h3 class="plan_rate" id="gold_rateYearly">$2000 <sup class="crossed-year-rate"><del>$2400</del></sup></h3>
                                        <strong class="plan_period" id="gold_intervalYearly">Per year*</strong>
                                    </div>
                                    <div class="plan_specs capitalize__text">
                                        <h4 id="gold_requestsLimitYearly">72M requests per year</h4>
                                    </div>
                                    <div class="plan_surcharges">
                                        <small id="gold_surchargeRateYearly">$5 Per Extra 150K Requests</small>
                                    </div>
                                    <div class="center plan_action">
                                        <a class="button button__primary" href="/signup.html">Sign Up for Free</a>
                                    </div>
                                </div>
                                <div class="step">
                                    <div class="plan-header">
                                        <h2 class="plan_name" id="platinum_nameYearly">platinum</h2>
                                        <h3 class="plan_rate" id="platinum_rateYearly">$5000 <sup class="crossed-year-rate"><del>$6000</del></sup></h3>
                                        <strong class="plan_period" id="platinum_intervalYearly">Per year*</strong>
                                    </div>
                                    <div class="plan_specs capitalize__text">
                                        <h4 id="platinum_requestsLimitYearly">240M requests per year</h4>
                                    </div>
                                    <div class="plan_surcharges">
                                        <small id="platinum_surchargeRateYearly">$5 Per Extra 200K Requests</small>
                                    </div>
                                    <div class="center plan_action">
                                        <a class="button button__primary" href="/signup.html">Sign Up for Free</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</body>