#header {
    background: firebrick;
    color: #d5d5d5;
    cursor: default;
    height: 6em;
    left: 0;
    line-height: 5em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 10001;
}
#header .inner {
    max-width: 73em;
    width: calc(100% - 6em);
    margin: 0 auto;
    position: relative;
}
#header .logo {
    font-family: 'Pacifico',cursive;
    display: inline-block;
    height: inherit;
    left: 0;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    color: #e5474b;
    font-size: 1.75em;
    text-transform: none;
    font-weight: 400;
    padding: 0;
}
#header .logo img {
    width: 108px;
    padding-top: 4px;
}
img {
    vertical-align: middle;
}
#header a {
    
    transition: color .2s ease-in-out;
    display: inline-block;
    padding: 0 2em;
    color: antiquewhite;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    padding-top: 10px;
}
#nav {
    display: inline-block;
}
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: color .2s ease-in-out;
    color: antiquewhite;
    font-weight: 700;
    font-size: 14px;
}
.dropdown-content {
    display: none;
    cursor: default;
    position: absolute;
    background-color: firebrick;
    min-width: 260px;
    box-shadow: 0 15px 16px 0 rgb(0 0 0 / 20%);
    z-index: 1;
    text-align: left;
    right: -62px;
    top: 62px;
}
.dropdown-content a {
    padding: 1em!important;
    display: block!important;
    line-height: .8em;
}