#header {
    background: firebrick;
    color: #d5d5d5;
    cursor: default;
    height: 6em;
    left: 0;
    line-height: 5em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 10001;
}
#header .inner {
    max-width: 73em;
    width: calc(100% - 6em);
    margin: 0 auto;
    position: relative;
}
@media screen and (max-width:480px) {
    #header .inner{
        max-width: 90%;
        width: 90%;
        display: flex;
        flex-direction: column !important;
    }
}

#header .logo {
    font-family: 'Pacifico',cursive;
    display: inline-block;
    height: inherit;
    left: 0;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    color: #e5474b;
    font-size: 1.75em;
    text-transform: none;
    font-weight: 400;
    padding: 0;
}
#header .logo img {
    width: 108px;
    padding-top: 4px;
}
img {
    vertical-align: middle;
}
#header a {
    
    transition: color .2s ease-in-out;
    display: inline-block;
    padding: 0 2em;
    color: antiquewhite;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    padding-top: 10px;
}
#nav {
    display: inline-block;
}
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: color .2s ease-in-out;
    color: antiquewhite;
    font-weight: 700;
    font-size: 14px;
}
.dropdown .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.dropdown .arrow {
    border: solid antiquewhite;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    padding-bottom: 3px;
}
@media screen and (max-width: 980px){
.dropdown {
    display: block!important;
}
#nav {
    display: none;
}
.dropdown-content {
    top: 16px!important;
    right: 46px!important;
    background-color: inherit!important;
    box-shadow: none!important;
}
.dropdown-content a {
    background: saddlebrown!important;
}
#toggle {
    display: block!important;
}

 #toggle span, #toggle span:after, #toggle span:before{
    width: 100%;
    height: 5px;
    background-color: #fff;
    transition: all .3s;
    backface-visibility: hidden;
    border-radius: 2px;
    position: relative;
    display: block;
}
#toggle.on span {
    background-color: transparent;
}#toggle.on span:before {
    transform: rotate(45deg) translate(5px,5px);
}
#toggle.on span:after {
    transform: rotate(-45deg) translate(7px,-8px);
}
#toggle span:after, #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}
#toggle span:after {
    top: 9px;
}
.navMenuResponsive {
    display: block!important;
}
.navMenuResponsive a {
    display: block!important;
    text-align: center;
    position: relative;
    top: 95px;
    line-height: 2.5em;
    background: #1c1c1c;
    font-size: 16px!important;
    font-weight: 600;
    border-bottom: 1px solid;
} 
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content {
    display: none;
    cursor: default;
    position: absolute;
    background-color: firebrick;
    min-width: 260px;
    box-shadow: 0 15px 16px 0 rgb(0 0 0 / 20%);
    z-index: 1;
    text-align: left;
    right: -62px;
    top: 62px;
}
.dropdown-content .subHeading {
    font-size: 14px;
    color: #fff;
    background: darkred;
    line-height: 2.6em;
    padding-left: 14px;
}
.dropdown-content a {
    padding: 1em!important;
    display: block!important;
    line-height: .8em;
}
#toggle {
    position: fixed;
    text-decoration: none;
    height: 4em;
    right: 1em;
    top: 36px;
    width: 4em;
    z-index: 10002;
    width: 32px;
    height: 22px;
    display: none;
}
