@media screen and (max-width:1310px) {
    body{
        max-width: 100%;
    }
    article, .content-in-blocks div{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
}