footer.footer-section {
    background: black;
    padding: 60px 0 50px;
    overflow: hidden;
    height: auto;
}
@media screen and (max-width: 980px){
    .container {
        width: 100%!important;
    }
}
@media (min-width: 768px){
.col-sm-6 {
    float: left;
    width: 50%;
}
}

@media (min-width: 992px){
.col-md-3, .col-md-6 {
    float: left;
}
.col-md-4 {
    width: 25%!important;
}
.col-md-12 {
    width: 100%;
}
}

.bg-with-black {
    position: relative;
}
.footer-top-section {
    margin: 0 0 47px;
}
@media (min-width: 1200px){
.container {
    max-width: 73em;
}}
@media (max-width: 1200px){
.row{
    display: flex;
    flex-direction: column !important;
}
}
.container {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 80em;
}
.row {
    display: flex;
    flex-direction: row;
}
.single-fta ul.fta-list li, .single-fta ul.fta-list li a {
    color: #e5e5e5;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 36px;
    text-decoration: none;
    
}
.single-fta ul.fta-list li a:hover{
    text-decoration-line: underline;
}
.single-fta ul.fta-list {
    list-style: outside none none;
    padding-left: 0;
}
.col-xs-12, .col-sm-6, .col-md-3 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-12 {
    width: 100%;
}
.fta-title{
    color: white;
}
.fta-list{
    color: white !important;
    margin: 10px;
    padding: 10px;
}

.fba-copyright{
    width: 65vw;
}

.fba-copyright p {
    color: #aaa;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 0 10px;
}
.fba-copyright .heart {
    color: darkred;
    font-size: 20px;
}
.fba-copyright img {
    width: 20px;
    padding-bottom: 4px;
    vertical-align: middle;
}