*{
    padding: 0;
    margin: 0;
    font-family: Nunito,sans-serif;
}
.app {
    padding-top: calc(60.33333px)!important;
    padding-bottom: 0!important;
}
.app {
    padding: calc(81.33px) 0;
}
*, :after, :before {
    box-sizing: inherit;
}
@media (min-width: 541px){
.app__innerP {
    -js-display: flex;
    display: flex;
}}
.app__main {
    flex-grow: 1;
}
.page__title {
    margin: 2em 0 1em;
    text-align: center;
    color: #666;
}
h1 {
    margin-top: 0;
    line-height: 1;
    font-size: 30px !important;
    font-weight: 700 !important;
}
.pricing-switcher {
    text-align: center;
    margin-bottom: 25px;
}
.pricing-switcher label {
    position: relative!important;
    z-index: 6;
    display: inline-block!important;
    width: 115px;
    height: 40px!important;
    line-height: 40px!important;
    cursor: pointer!important;
    font-size: 14px;
    color: #fff;
    border-radius: 0;
    font-weight: 100;
    padding: 0!important;
    text-align: center;
    margin: 0;
    margin-left: 3%;
}
.button, hr, input {
    overflow: visible;
}
a {
    text-decoration: none;
    color: inherit;
}
hr {
    box-sizing: content-box;
    height: 0;
    margin-left: 35%;
    min-width: 150px;
}
.onoffswitch {
    position: relative;
    width: 100%;
    margin: auto;
    bottom: 1px;
    text-align: center;
}
.onoffswitch {
    position: relative;
    width: 100%;
    margin: auto;
    bottom: 1px;
    text-align: center;
}
li {
    line-height: 1.8em;
    margin-left: 10px;
    color: #666;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
label, select, textarea {
    display: block;
    font-size: 17px;
    font-weight: 400;
}
label {
    margin-bottom: 2pt;
    text-align: left;
    color: #666;
    font-size: .9em;
    padding-left: 10pt;
}
[type=checkbox]:not(:checked) {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
[type=checkbox], [type=radio], legend {
    padding: 0;
    box-sizing: border-box;
}
.slider.round {
    border-radius: 34px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 14px;
    bottom: 0;
    background-color: #403aa2;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked+.slider {
    background-color: #6c63ff !important;
}
input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
span {
    line-height: 1.5em;
}
.slider.round:before {
    border-radius: 50%;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}
.save-big {
    font-size: 12px;
    position: relative;
    color: #999;
    text-align: center;
    margin: 0 auto;
}
.save-big span {
    color: #6c63ff;
    font-weight: 700;
}
.save-big img {
    position: relative;
    max-width: 20px;
}
.landing__section {
    background-color: #fff!important;
    border: 0!important;
    transition: all .2s linear;
    display: block;
}
.step, .steps {
    padding: 16pt 0;
    text-align: center;
}
.plan-inner-row .plan-main-area {
    max-width: 1400px;
    margin: 0 auto;
}
.steps__inner {
    margin: 20px;
}
@media (min-width: 992px){
.steps__inner {
    -js-display: flex;
    display: flex;
    justify-content: space-around;
}}
@media (max-width: 992px){
.steps__inner {
    display: flex;
    flex-direction: column;
}
.step{
    width: 100% !important;
}
}
@media (max-width: 1120px){
.plan-main-area .step {
    margin: 20px 0;
    width: 32%;
    float: left;
    margin-left: 1%;
}}
.plan-main-area .step {
    min-width: 22%;
    margin: 20px 0;
    padding: 0;
}
.step:first-child {
    border-top: 0;
}
.step {
    padding: 20px;
    text-align: left!important;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
@media (min-width: 992px){
.step {
    border-top: 0;
    width: auto !important;
}}
.step {
    width: 100%;
    border-top: 1px solid #eee;
    overflow: auto;
}
.plan-header {
    padding: 20px 40px;
    background: #403aa2;
    text-align: center;
    position: relative;
    min-height: 160px;
}
.plan_name {
    text-transform: uppercase;
    margin: 0 0 10px!important;
    font-weight: 700;
    color: #bdb9ff;
    line-height: 1.35;
    color: #bdb9ff;
    border-bottom: 1px solid rgba(189,185,255,.17)!important;
}
h2 {
    font-size: 1.728em !important;
}
.plan_rate {
    color: #c9c6f9;
    font-weight: 700;
    font-size: 23px;
    margin: 1.6em 0 0.5em;
}
.crossed-year-rate {
    font-size: 16px;
    color: #ef5350;
}
.plan_period {
    color: #b7b7b7;
    display: block;
    font-weight: 600;
    font-size: 13px;
}
b, strong {
    font-weight: bolder;
}
.plan-header:after {
    content: '';
    padding: 0;
    background: #403aa2;
    transform: rotate(45deg);
    display: block;
    width: 21px;
    height: 21px;
    left: 46%;
    position: absolute;
    bottom: -10px;
    margin-left: auto;
    margin-right: auto;
}
.plan_specs {
    color: #666;
    font-size: 17px;
    margin: 30px 0;
    text-align: center;
}
.plan_specs h4 {
    font-size: 18px;
    color: #474569;
}
h1, h2, h3, h4 {
    line-height: 23px;
    font-size: 23px;
    font-weight: 700 !important;
}
h1, h2, h3, h4, h5, h6 {
    margin: 1.414em 0 0.5em;
    font-weight: 400;
}
.plan_surcharges {
    margin: 0 0 20px;
    text-align: center;
    background: rgba(33,29,88,.11);
    padding: 7px 0;
}
.plan_surcharges small {
    color: #403aa2;
    font-size: 12px;
    font-weight: 600;
}
h6, small {
    font-size: .833em;
    margin: 0.25em 0;
}
.center, center-align {
    text-align: center;
}
@media (min-width: 992px){
.button__primary:hover {
    background-color: #463aff;
    border-color: #463aff;
    color: #fff;
}}
@media (min-width: 992px){
.button:hover, button:hover {
    border-color: #463aff;
    color: #463aff;
}}

.button__primary:hover {
    background: #403aa2!important;
}
.button__primary {
    background-color: #5146ff !important;
    border-color: #5146ff !important;
    color: #fff !important;
}
.button, button {
    display: inline-block;
    padding: 6pt 20pt;
    line-height: 1.7;
    border: 1px solid #5146ff;
    color: #5146ff;
    font-weight: 400;
    white-space: nowrap;
    border-radius: 30px;
    margin-bottom: 1.3em;
    text-align: center;
    text-decoration: none;
}
.button, a, button {
    cursor: pointer;
    background-color: transparent;
    transition: .7s;
}
.button:focus, .button:hover, a, button:focus, button:hover, select, textarea {
    outline: 0;
}
div#proPlansBox {
    padding: 0;
}
