*{
    padding: 0;
    margin: 0;
}
body {
    font-family: "Helvetica Neue","Helvetica","Roboto","sans-serif";
    font-size: 16px;
    line-height: 2;
    position: relative;
    padding-top: 5em;       
    background-color: antiquewhite;
    color: sienna;
}
@media screen and (max-width: 480px){
body {
    min-width: 320px;
    font-size: 12pt;
}}
@media screen and (max-width: 980px){
.singleCol .inner, #three .inner {
    display: flex;
    flex-direction: column !important;
}

#three .inner article {
    width: 100% !important;
    margin: 0 auto;
}
.singleCol .inner article {
    width: 100% !important;
    padding: 0 !important;
}
.image.fit img {
    width: 100% ;
}
}

#body{
    width: inherit;
}
#banner {
    padding: 0;
    color: #f2a3a5;
    background-color: #0c0c0c;
    background-image: url(/pics/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15% left;
    text-align: left;
    position: relative;
    z-index: 9999;
}
#banner:after {
    -moz-transition: opacity 4s ease;
    -webkit-transition: opacity 4s ease;
    -ms-transition: opacity 4s ease;
    transition: opacity 4s ease;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    background-color: #0c0c0c;
    opacity: .25;
}
.with-overlay {
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
    background-position: right;
    background-repeat: no-repeat;
}
#banner .inner {
    max-width: 76em;
    width: calc(100% - 6em);
    margin: 0 auto;
    position: relative;
    z-index: 10000;
    line-height: 1.5;
    padding: 12em 0 16em 0;
}
#banner h1 {
    font-size: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;
    letter-spacing: 3px;
    font-weight: 700;
    color: #fff;
    line-height: 1.5;
}
#banner .leftBlock {
    padding-top: 8%;
}

#banner .button.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #fff;
    width: 7rem;
    color: #fff!important;
}
.button{
    transition: background-color .2s ease-in-out,color .2s ease-in-out;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: .8em;
    font-weight: 700;
    height: 3.5em;
    line-height: 3.65em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 5px;
}
.searchbar {
    position: relative;
}
.w-100p {
    width: 100%;
}
.text-dark {
    color: #3a3a3a;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.py-10 {
    padding-bottom: 10px;
    padding-top: 10px;
}
.px-20 {
    padding-right: 0px;
    padding-left: 20px;
}
.radius-5 {
    border-radius: 5px;
}
.border-white {
    border-color: #fff;
}
.border {
    border: 1px solid;
}
.w-100p {
    width: 100%;
    min-width: 180px;
}
.bg-cornsilk {
    background: cornsilk;
}
input {
    outline: none !important;
}
.searchbar button {
    position: absolute;
    background: firebrick;
    border: none;
    border-radius: 50%;
    right: -10px;
    top: 5px;
    cursor: pointer;
    width: 30px;
}
.searchbar img {
    width: 21px;
    height: 30px;
    vertical-align: middle;
    border: 0;
}
h3 {
    font-size: 24px;
    line-height: 1.4;
    color: #e5474b;
    font-weight: 700;
    margin: 0 0 1em 0;
}
h4 {
    font-size: 1.1em;
    line-height: 1.4;
    color: #e5474b;
    font-weight: 700;
    margin: 0 0 1em 0;
}
.bg-colored h3{
    color: antiquewhite;
}
.bg-colored h4{
    color: antiquewhite;
}
a {
    color: orangered;
    text-decoration: none;
}
.button {
    background-color: #5a5a5a;
    color: #fff!important;
}
.singleCol .inner {
    display: flex;
    flex-direction: row;
}
section .inner {
    max-width: 72em;
    width: calc(100% - 6em);
    margin: auto!important;
}
.singleCol .inner article {
    width: 50%;
    display: block;
}
#banner p {
    color: #fff;
    max-width: 880px;
    text-align: justify;
    font-weight: 400;
}
p {
    margin: 0 0 10px;
}
ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin: 20px;
    margin-left: 0;
    padding-right: 100px;
}
ul.actions li:last-child {
    padding-right: 0;
}
ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}
#banner .rightBlock {
    padding-left: 3em;
}
.singleCol .inner article {
    width: 50%;
}
.singleCol .inner article:last-child {
    padding-left: 6em;
}

pre {
    font-family: "Courier New",monospace;
    font-size: .9em;
    margin: 0 0 2em 0;
    max-height: 550px;
    overflow: auto;
    word-break: break-all;
    word-wrap: break-word;
}
#banner .rightBlock code {
    height: 468px;
    background: rgba(0,0,0,.6);
}
#banner code {
    background: 0;
    border-color: #fff;
}
pre code {
    
    display: block;
    line-height: 1.75;
    padding: 1em 1.5em;
    overflow: auto;
    font-size: 12px;
    color: #fff;
    max-height: 550px;
}
code {
    border: solid 1px;
    font-family: "Courier New",monospace;
    font-size: .9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
    border-radius: 6px;
    
    
}
#demo{
    white-space: pre;
}
.common-numbers-block {
    background: rgba(255,0,0,.5);
}
.common-numbers-block .content-in-blocks {
    white-space: nowrap;
    padding: 18px 0;
    text-align: center;
}
@media screen and (max-width: 980px){
.common-numbers-block .content-in-blocks>div, #banner .leftBlock, #banner .rightBlock {
    width: 100%!important;
    display: block!important;
}}
.common-numbers-block .content-in-blocks>div {
    width: 15%;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    line-height: 1.63;
    text-align: center;
    font-weight: 400;
}
.common-numbers-block .content-in-blocks>div>span {
    display: block;
    color: bisque;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.22;
    margin-bottom: 10px;
}
/* new section */
#one {
    padding: 4em 0 4em 0;
}
section {
    display: block;
}
section .inner {
    max-width: 72em;
    width: calc(100% - 6em);
    margin: auto!important;
}
.centered-block {
    max-width: 800px!important;
    text-align: center!important;
}
#three {
    padding: 0 0 4em 0;
}
#three .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section .inner {
    max-width: 72em;
    width: calc(100% - 6em);
    margin: auto!important;
}
#three .inner article {
    width: 32%;
    display: block;
    padding: 20px;
    padding-bottom: 0;
}
.icon {
    text-decoration: none;
    border-bottom: 0;
    position: relative;
    width: 26px;
    top: 28px;
    right: 38px;
    filter: grayscale(50%);
}
img {
    vertical-align: middle;
}
#three .inner article p {
    padding: 0 4px 0 2px;
}
ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin: 20px;
    margin-left: 0;
}
/* new section */
.bg-colored {
    background: #e5474b;
    color: antiquewhite;
    font-weight: 400;
    padding: 12em 0 10em 0;
}.text-align-justify {
    text-align: justify!important;
}
.singleCol {
    padding: 6em 0 4em 0;
}
.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}
.image {
    border-radius: 0;
    border: 0;
    display: inline-block;
    position: relative;
}
.image.fit img {
    max-width: 500px;
    max-height: 340px;
}
.image img {
    border-radius: 0;
    display: block;
}